In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [7]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [8]:
#Data preprocessing
df.replace(' ?',np.nan, inplace = True)

In [9]:
#Preprocessing
df.isnull().sum()

age                   0
workclass          1836
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         1843
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      583
income                0
dtype: int64

In [10]:
#Preprocessing
df.dropna(inplace=True)

In [11]:
#checking
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [12]:
#Review
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
#1.	How many men and women (sex feature) are represented in this dataset?
df['gender'].value_counts()

 Male      20380
 Female     9782
Name: gender, dtype: int64

In [14]:
#Cleaning column values
col = ['workclass', 'education', 'marital-status', 'occupation', 'relationship','race','gender','native-country','income']
for i in col:
    df[i] = df[i].str.strip()

In [16]:
#2.	What is the average age (age feature) of women?
print('Age for Females: ')
df[df['gender']=='Female'].mean()['age']

Age for Females:

<ipython-input-16-e677121dcb98>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['gender']=='Female'].mean()['age']

36.8834594152525

In [21]:
#3.	What is the percentage of German citizens (native-country feature)?
(df[df['native-country']=='Germany'].count()/df['native-country'].value_counts().sum())['native-country']

0.004243750414428751

In [22]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [23]:
#4.	What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)
#and those who earn less than 50K per year?print('Income : <=50K')

print('Mean', df[df['income'] =='<=50K']['age'].mean())
print('STD',df[df['income'] =='<=50K']['age'].std())
print(' ')
print('Income : >50K')
print('Mean', df[df['income'] !='<=50K']['age'].mean())
print('STD',df[df['income'] !='<=50K']['age'].std())

Mean 36.60806038668668
STD 13.464631257161633

Income : >50K
Mean 43.95911028236548
STD 10.269632835673852

In [24]:
#5.Is it true that people who earn more than 50K have at least high school education? (education –
#Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

df[df['income']=='>50K']['education'].value_counts()

Bachelors       2126
HS-grad         1617
Some-college    1336
Masters          918
Prof-school      406
Assoc-voc        344
Doctorate        280
Assoc-acdm       256
10th              59
11th              59
7th-8th           35
12th              29
9th               25
5th-6th           12
1st-4th            6
Name: education, dtype: int64

In [25]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [27]:
#6.	Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe().
#Find the maximum age of men of Amer-Indian-Eskimo race.


df.groupby(['race','gender'])['age'].max()

race                gender
Amer-Indian-Eskimo  Female    80
                    Male      71
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    58
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

In [32]:
raceData = df.iloc[:,[0,8]]
genderData = df.iloc[:,[0,9]]

raceGroup = raceData.groupby('race')
print(raceGroup.describe())

genderGroup = genderData.groupby('gender')
print(genderGroup.describe())

                        age                                                 \
                      count       mean        std   min   25%   50%    75%
race
Amer-Indian-Eskimo    286.0  36.737762  11.630168  17.0  28.0  35.0  44.75
Asian-Pac-Islander    895.0  37.910615  12.587717  17.0  28.0  36.0  46.00
Black                2817.0  37.860845  12.418791  17.0  28.0  37.0  46.00
Other                 231.0  33.601732  10.949163  17.0  26.0  31.0  41.00
White               25933.0  38.580612  13.250943  17.0  28.0  37.0  47.00


                     max
race
Amer-Indian-Eskimo  80.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
            age
          count       mean        std   min    25%   50%   75%   max
gender
Female   9782.0  36.883459  13.532427  17.0  25.25  35.0  46.0  90.0
Male    20380.0  39.184004  12.873243  17.0  29.00  38.0  48.0  90.0

In [34]:
#7.	Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?
#Consider as married those who have a marital-status starting with Married (Married-civ-spouse,
#Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.
df['marital-status'].unique()
mapping={'Never-married':'Bachelor', 'Divorced':'Bachelor','Separated':'Bachelor','Widowed':'Bachelor','Married-civ-spouse':'Married',
        'Married-spouse-absent':'Married','Married-AF-spouse':'Married'}

df['status'] = df['marital-status'].map(mapping)

df[df['income'] == '>50K']['status'].value_counts()

Married     6440
Bachelor    1068
Name: status, dtype: int64

In [35]:
# 8 What is the maximum number of hours a person works per week (hours-per-week feature)?
#How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?


x=df['hours-per-week'].max()
print('Hours: ', x)
print('Number of people: ', df[df['hours-per-week']==x]['hours-per-week'].count())
y=df[df['hours-per-week'] == x]
z=y['hours-per-week'].count()
print('Percentage: ', float(y.groupby('income').count()['hours-per-week']['>50K']) /z * 100)

Hours:  99
Number of people:  78
Percentage:  32.05128205128205

In [ ]:
#Lets understand group by on this dataset
country = df.groupby(['native-country','income'], as_index=False).mean()
country

,native-country,income,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
0,Cambodia,<=50K,37.272727,158501.090909,7.727273,543.545455,170.545455,41.545455
1,Cambodia,>50K,41.428571,237677.000000,10.285714,1935.714286,0.000000,40.000000
2,Canada,<=50K,40.098592,166235.746479,10.239437,70.605634,168.070423,38.704225
3,Canada,>50K,44.305556,210915.611111,11.527778,4659.583333,105.250000,46.944444
4,China,<=50K,41.270833,174839.145833,10.354167,119.041667,108.187500,38.541667
...,...,...,...,...,...,...,...,...
75,United-States,>50K,44.000429,187447.492781,11.586276,3965.694353,194.689207,45.750536
76,Vietnam,<=50K,33.203390,167128.932203,9.508475,252.406780,99.135593,38.152542
77,Vietnam,>50K,35.400000,141648.400000,9.600000,5873.600000,0.000000,39.200000
78,Yugoslavia,<=50K,38.000000,227306.800000,9.700000,0.000000,0.000000,41.600000
79,Yugoslavia,>50K,40.166667,197059.166667,10.333333,926.000000,0.000000,49.500000

In [ ]:
#9.	Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for
#each country (native-country). What will these be for Japan?
data1 = df.groupby(['native-country','income'])['hours-per-week'].mean().reset_index()
data1

   native-country income  hours-per-week
0        Cambodia  <=50K       41.545455
1        Cambodia   >50K       40.000000
2          Canada  <=50K       38.704225
3          Canada   >50K       46.944444
4           China  <=50K       38.541667
..            ...    ...             ...
75  United-States   >50K       45.750536
76        Vietnam  <=50K       38.152542
77        Vietnam   >50K       39.200000
78     Yugoslavia  <=50K       41.600000
79     Yugoslavia   >50K       49.500000

[80 rows x 3 columns]

In [ ]:
data2=df[df['native-country']=='Japan']['hours-per-week'].mean()
data2

43.96610169491525

In [ ]:
#10.	Find out total number of hours worked as per different occupations.
data1 = df.groupby(['occupation'])['hours-per-week'].sum().reset_index()
data1.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
occupation,Adm-clerical,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving
hours-per-week,139766,366,170461,179508,46474,51131,80030,111153,4690,171110,27593,146096,36000,70190